body {
    text-align: center;
    margin-top: -1.5px;
}

canvas {
	margin-top: -15px;
}

#title {
	font-family: Helvetica;
	font-size: 17.5px;
	line-height: 20px;
	margin-top: 12.5px;
}

#progress-container {
	font-family: Helvetica;
	font-size: 22.5px;
	margin-top: -4px;
}

#credits {
	font-family: Helvetica;
	font-size: 15px;
}